.p-menu.Flex166 {
display: flex;
justify-content: center;
flex-grow: 1;
width: 100%;
align-items: center;
align-content: stretch;
align-self: auto;
padding-left: ;
margin-right: ;
padding-right: ;
margin-left: ;
column-gap: 300px;
padding-top: 20px;
}
.p-menu.Flex164 {
display: flex;
justify-content: center;
align-items: center;
flex-grow: 0;
padding-left: ;
align-content: center;
font-size: ;
column-gap: 40px;
}
.p-menu.Flex165 {
display: flex;
justify-content: flex-start;
align-items: center;
padding-right: ;
font-size: 18px;
padding-left: 0px;
column-gap: 30px;
}
.p-menu.Flex167 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 10px;
padding-top: 100px;
}
.p-menu.Flex168 {
display: flex;
column-gap: 35px;
}
.p-menu.Flex169 {
display: flex;
}
.p-menu.Flex180 {
display: flex;
width: 100%;
flex-direction: column;
row-gap: 50px;
padding-top: 70px;
padding-bottom: 70px;
}
.p-menu.Flex178 {
display: flex;
flex-direction: row;
justify-content: center;
column-gap: 30px;
}
.p-menu.Flex170 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex171 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex172 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex173 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex179 {
display: flex;
justify-content: center;
column-gap: 30px;
}
.p-menu.Flex174 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex175 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex176 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex177 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
row-gap: 10px;
}
.p-menu.Flex181 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 20px;
}
.p-menu.Flex182 {
display: flex;
}
.p-menu.Flex183 {
display: flex;
width: ;
height: ;
column-gap: 60px;
padding-top: 25px;
}
.p-menu.Flex192 {
display: flex;
justify-content: center;
column-gap: 200px;
padding-top: 150px;
padding-bottom: 100px;
}
.p-menu.Flex189 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 20px;
}
.p-menu.Flex185 {
display: flex;
}
.p-menu.Flex184 {
display: flex;
column-gap: 10px;
}
.p-menu.Flex190 {
display: flex;
width: ;
column-gap: 20px;
}
.p-menu.Flex186 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-menu.Flex187 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-menu.Flex191 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-menu.Flex188 {
display: flex;
height: ;
}
.p-menu.Image85 {
;
}
.p-menu.TextBox178 {
font-size: 20px;
align-self: center;
}
.p-menu.TextBox179 {
align-self: center;
font-size: 20px;
}
.p-menu.TextBox180 {
align-self: center;
font-size: 20px;
cursor: pointer;
}
.p-menu.TextBox181 {
align-self: center;
font-size: 20px;
cursor: pointer;
}
.p-menu.TextBox182 {
background-clip: border-box;
-webkit-background-clip: border-box;
align-self: center;
font-size: 20px;
cursor: pointer;
}
.p-menu.TextBox183 {
margin-left: ;
border-style: solid;
border-radius: 30px;
padding-left: 15px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
border-color: #ffffff;
background-color: #ff7b23;
color: #ffffff;
outline-color: #000000;
cursor: pointer;
}
.p-menu.TextBox184 {
margin-right: ;
border-radius: 30px;
border-top-left-radius: ;
border-color: #acacac;
border-style: solid;
padding-left: 15px;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
text-align: center;
border-width: 1px;
cursor: pointer;
}
.p-menu.TextBox185 {
font-size: 30px;
}
.p-menu.TextBox186 {
padding-bottom: 30px;
}
.p-menu.Button15 {
color: #0b0b0b;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #070707;
cursor: pointer;
user-select: none;
}
.p-menu.Button16 {
color: #fff;
background-color: #fc9e00;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fbfbfb;
cursor: pointer;
user-select: none;
}
.p-menu.Button17 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
}
.p-menu.Button18 {
color: #070707;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #0b0b0b;
cursor: pointer;
user-select: none;
}
.p-menu.Button20 {
color: #070707;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #070707;
cursor: pointer;
user-select: none;
}
.p-menu.Image86 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox187 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox188 {
font-size: 25px;
}
.p-menu.Image87 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox189 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox190 {
font-size: 25px;
}
.p-menu.Image88 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox191 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox192 {
font-size: 25px;
}
.p-menu.Image89 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox193 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox194 {
font-size: 25px;
}
.p-menu.Image90 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox195 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox196 {
font-size: 25px;
}
.p-menu.Image91 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox197 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox198 {
font-size: 25px;
}
.p-menu.Image92 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox199 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.TextBox200 {
font-size: 25px;
}
.p-menu.TextBox201 {
font-size: 25px;
}
.p-menu.TextBox202 {
width: 220px;
align-self: auto;
text-align: center;
color: #585858;
}
.p-menu.Image93 {
width: 220px;
border-radius: 20px;
}
.p-menu.TextBox203 {
font-size: ;
}
.p-menu.TextBox204 {
font-size: 40 px;
}
.p-menu.Image94 {
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
border-radius: 20px;
border-style: solid;
border-color: #828282;
}
.p-menu.Image95 {
border-style: solid;
border-radius: 20px;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
border-color: #828282;
}
.p-menu.Image96 {
border-style: solid;
border-radius: 20px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-color: #848484;
}
.p-menu.Image97 {
border-style: solid;
border-radius: 20px;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
border-color: #888888;
}
.p-menu.TextBox219 {
font-size: 22px;
}
.p-menu.Image98 {
width: 150px;
border-radius: 20px;
height: 150px;
}
.p-menu.Image99 {
width: 150px;
border-radius: 20px;
}
.p-menu.TextBox205 {
;
}
.p-menu.TextBox206 {
;
}
.p-menu.TextBox207 {
;
}
.p-menu.TextBox208 {
;
}
.p-menu.TextBox209 {
;
}
.p-menu.TextBox210 {
;
}
.p-menu.TextBox211 {
font-size: 23px;
padding-bottom: 20px;
}
.p-menu.TextBox212 {
;
}
.p-menu.TextBox213 {
;
}
.p-menu.TextBox214 {
;
}
.p-menu.TextBox215 {
;
}
.p-menu.TextBox216 {
;
}
.p-menu.TextBox217 {
;
}
.p-menu.TextBox218 {
font-size: 23px;
padding-bottom: 20px;
}
.p-menu.TextBox220 {
width: 500px;
}
.p-menu.Image105 {
;
}
.p-menu.Image100 {
width: 35px;
}
.p-menu.Image101 {
width: 35px;
}
.p-menu.Image102 {
width: 35px;
}
.p-menu.Image103 {
width: 35px;
}
.p-menu.Image104 {
width: 35px;
}
